# /docs/openapi.yaml
openapi: 3.0.0
info:
  title: NARA E-commerce API
  description: API para la gestión de catálogo, reservas de stock con TTL, pagos con Wompi y panel administrativo.
  version: 1.0.0

servers:
  - url: https://api.nara-culture.com/v1
    description: Servidor de Producción

paths:
  # --- PÚBLICO: CATÁLOGO ---
  /products:
    get:
      summary: Listar productos con filtros
      parameters:
        - name: category
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Lista de productos obtenida con éxito
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Product'

  /products/{slug}:
    get:
      summary: Detalle de producto por slug
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Detalle del producto
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'

  # --- TRANSACCIONAL: RESERVAS Y CHECKOUT ---
  /checkout:
    post:
      summary: Iniciar checkout (reserva de stock con TTL de 15 min + enlace de pago Wompi)
      description: >
        Reserva el stock de todos los items (todo o nada), calcula el total con
        los precios de la base de datos (nunca los del cliente) y devuelve la URL
        del Web Checkout de Wompi firmada con la firma de integridad
        SHA256(reference + amountInCents + currency + expirationTime + integritySecret).
        La transacción expira en Wompi al mismo tiempo que la reserva.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [items, customerEmail, customerName, shippingAddress, acceptedPolicies, policyVersion]
              properties:
                items:
                  type: array
                  items:
                    type: object
                    required: [productId, quantity]
                    properties:
                      productId: { type: string }
                      quantity: { type: integer, minimum: 1 }
                customerEmail: { type: string, format: email }
                customerName: { type: string }
                shippingAddress:
                  type: object
                  properties:
                    phone: { type: string }
                    addressLine: { type: string }
                    city: { type: string }
                    department: { type: string }
                acceptedPolicies:
                  type: boolean
                  enum: [true]
                  description: La clienta aceptó los términos y la política de tratamiento de datos (Ley 1581 de 2012)
                policyVersion:
                  type: string
                  description: Versión de los textos legales aceptados (p. ej. 2026-10-06); se guarda con la orden como prueba de la autorización
      responses:
        '201':
          description: Reserva creada y enlace de pago generado
          content:
            application/json:
              schema:
                type: object
                properties:
                  checkoutUrl: { type: string, format: uri, description: "URL de https://checkout.wompi.co/p/ con los parámetros firmados" }
                  reference: { type: string, description: "Referencia única del pago (= Checkout.externalId)" }
                  expiresAt: { type: string, format: date-time }
        '400':
          description: Datos inválidos, sin aceptación de políticas, producto inexistente o stock insuficiente
        '503':
          description: Wompi no está configurado en el servidor

  /checkout/transactions/{id}:
    get:
      summary: Consultar el estado de una transacción de Wompi
      description: >
        Usado por la página /gracias (Wompi agrega ?id=<transactionId> a la
        redirect-url). Solo informa el estado; la orden se consolida
        exclusivamente por el webhook.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Estado de la transacción
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, enum: [PENDING, APPROVED, DECLINED, VOIDED, ERROR] }
                  reference: { type: string }
        '404':
          description: Transacción no encontrada

  /webhooks/wompi:
    post:
      summary: Webhook de eventos de Wompi (transaction.updated)
      description: >
        Valida el checksum: SHA256(valores de signature.properties en orden +
        timestamp + eventsSecret). Con firma inválida responde 401 y no toca
        datos. APPROVED (y monto igual al del checkout) consolida la orden,
        descuenta el inventario físico y envía el correo por Brevo.
        DECLINED / VOIDED / ERROR liberan la reserva de inmediato.
        Idempotente: eventos repetidos no duplican órdenes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                event: { type: string, example: transaction.updated }
                data:
                  type: object
                  properties:
                    transaction:
                      type: object
                      properties:
                        id: { type: string }
                        status: { type: string }
                        reference: { type: string }
                        amount_in_cents: { type: integer }
                signature:
                  type: object
                  properties:
                    properties: { type: array, items: { type: string } }
                    checksum: { type: string }
                timestamp: { type: integer }
      responses:
        '200':
          description: Evento recibido (Wompi reintenta si la respuesta no es 200)
        '401':
          description: Firma inválida

  # --- ADMINISTRATIVO ---
  /admin/auth/login:
    post:
      summary: Login administrativo con bloqueo preventivo
      responses:
        '200':
          description: Token JWT generado
        '401':
          description: Credenciales inválidas (Suma al contador de bloqueos)

  /admin/dashboard/stats:
    get:
      summary: Métricas de Margen Neto y Rotación
      security:
        - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialStats'

  /admin/uploads/images:
    post:
      summary: Subir una imagen de producto a Google Cloud Storage
      description: >
        Recibe una imagen (JPG, PNG o WebP, máx. 15 MB), la normaliza a máx.
        1600×2000 px, la convierte a WebP y la guarda en el bucket GCS_BUCKET,
        en la carpeta de su categoría (products/<categoria>/<uuid>.webp).
        Devuelve la URL pública, que el admin agrega a Product.images.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [image]
              properties:
                categoryId:
                  type: string
                  description: Categoría de la prenda; define la carpeta en el bucket (sin categoría → sin-categoria)
                image:
                  type: string
                  format: binary
      responses:
        '201':
          description: Imagen subida
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    example: https://storage.googleapis.com/nara-product-images/products/2026/10/0f2c….webp
        '400':
          description: Falta el archivo, el formato no es válido, supera 15 MB o la categoría no existe
        '401':
          description: No autorizado
        '503':
          description: GCS_BUCKET no está configurado en el servidor

  /admin/orders/{id}/tracking:
    patch:
      summary: Actualizar guía de envío y disparar email (Brevo)
      security:
        - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                trackingNumber: { type: string }
      responses:
        '200':
          description: Orden actualizada y correo enviado

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Product:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        slug: { type: string }
        basePrice: { type: number }
        costPrice: { type: number, description: "Solo visible para admin" }
        stockAvailable: { type: integer }
        images:
          type: array
          items: { type: string, format: uri }

    FinancialStats:
      type: object
      properties:
        grossRevenue: { type: number }
        totalCosts: { type: number }
        netMargin: { type: number }
        inventoryRotation: { type: number }